@import 'logo/nav';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'lato';
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to bottom right, lighten(#3498db, 10%), darken(#3498db, 5%));
}

.area {
  position: absolute;
  top: 2.5vh;
  left: 50vw;
  border: 1px solid white;
  width: 25vw;
  height: 10vh;
  transform: translateX(-50%);

  &__time {
    width: 25%;
    border-right: 1px solid white;
    height: 100%;
  }
}


.clock {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  padding: 2rem;

  & > * {
    width: 50%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  &__hour {
    width: 40%;
    background: red;
  }
  &__min {
    width: 50%;
    background: black;
  }
  &__sec {
    width: 30%;
    background: white;
  }
}
